@import url('./header/header.css');
@import url('./comments/comments.css');
@import url('./contacts/contacts.css');
@import url('./footer/footer.css');
@import url('./error-404/error-404.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: rgba(21, 209, 217, 1);
    --color-fon-gray: rgba(244, 247, 247, 1);
    --color-secondary: rgba(47, 62, 83, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-gray: rgba(149, 149, 149, 1)
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', 'Stengazeta', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    min-height: 100vh;
}

.page__content {
    margin: 0 auto;
    max-width: 1920px;
    min-width: 320px;
    background: var(--color-fon-gray);
    min-height: 100vh;
}

.content {
    min-height: 50vh;
    flex: 1;
}


  /** { outline: 1px solid rgb(255, 0, 106); } */
 